Repository DNYoussef/AIVillage: changes, and which pre-commit hooks are due for each by the changed paths.
All: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Path conditions:
  god-object-check: any of: \.py$ and not (^(deprecated/|archive/|experimental/|tests/|backups/|__pycache__/|.*_original\.py$)) and not (^(deprecated/|archive/|backups/|\.git/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.venv/|venv/|env/|\.env|node_modules/|\.DS_Store|\.coverage|htmlcov/|\.nyc_output/|dist/|build/|.*\.egg-info/|\.idea/|\.vscode/|.*\.pyc|.*\.pyo|.*\.pyd|.*\.so$|.*\.dylib$|.*\.dll$))
  magic-literal-check: any of: \.py$ and not (^(deprecated/|archive/|experiments/|experimental/|.*experimental.*/|tests/|.*tests/|backups/|examples/|.*example.*/|.*demo.*/|.*legacy_src.*/|.*communications.*/|.*sdk.*/|.*client.*/|core/domain/services/|scripts/reorganization/|__pycache__/|.*/__init__\.py$)) and not (^(deprecated/|archive/|backups/|\.git/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.venv/|venv/|env/|\.env|node_modules/|\.DS_Store|\.coverage|htmlcov/|\.nyc_output/|dist/|build/|.*\.egg-info/|\.idea/|\.vscode/|.*\.pyc|.*\.pyo|.*\.pyd|.*\.so$|.*\.dylib$|.*\.dll$))
  connascence-check: any of: \.py$ and not (^(deprecated/|archive/|experimental/|tests/|backups/)) and not (^(deprecated/|archive/|backups/|\.git/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.venv/|venv/|env/|\.env|node_modules/|\.DS_Store|\.coverage|htmlcov/|\.nyc_output/|dist/|build/|.*\.egg-info/|\.idea/|\.vscode/|.*\.pyc|.*\.pyo|.*\.pyd|.*\.so$|.*\.dylib$|.*\.dll$))
  architectural-fitness: any of: \.py$ and not (^(deprecated/|archive/|experimental/|tests/|backups/)) and not (^(deprecated/|archive/|backups/|\.git/|__pycache__/|\.pytest_cache/|\.mypy_cache/|\.ruff_cache/|\.tox/|\.venv/|venv/|env/|\.env|node_modules/|\.DS_Store|\.coverage|htmlcov/|\.nyc_output/|dist/|build/|.*\.egg-info/|\.idea/|\.vscode/|.*\.pyc|.*\.pyo|.*\.pyd|.*\.so$|.*\.dylib$|.*\.dll$))

fix: Resolve all 7 failing CI/CD checks through comprehensive analysis and targeted fixes
  docs/reports/CI_CD_FAILURE_ANALYSIS_AND_FIXES.md
  docs/reports/CI_CD_FAILURE_ROOT_CAUSE_ANALYSIS.md
  docs/reports/SCION_BUILD_FAILURE_ANALYSIS.md
  docs/reports/SECRET_SANITIZATION_REPORT.md
  docs/reports/SYSTEM_LEVEL_INTEGRATION_ANALYSIS.md
  docs/reports/secret_sanitization_validation.json
  integrations/clients/rust/scion-sidecar/Makefile
  proto/betanet_gateway.proto
  scripts/validate_placeholders.sh
  scripts/validate_secret_sanitization.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

fix: Resolve systemic CI/CD failures - fix workflow-embedded validation logic
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  docs/CI_CD_FAILURE_ANALYSIS.md
  docs/CI_CD_SYSTEMIC_FAILURE_ANALYSIS.md
  proto/betanet_gateway.proto
Due: none

fix: Complete CI/CD resolution - final fix for all 4 remaining failures
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
Due: none

fix: Resolve all 4 persistent CI/CD failures through targeted MCP-enhanced analysis
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
  scripts/validate_secret_sanitization.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

fix: EMERGENCY - Resolve syntax error and add missing exclusions for CI/CD failures
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  scripts/validate_secret_sanitization.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

fix: Complete CI/CD resolution - final fix for all 4 remaining failures
  .github/workflows/main-ci.yml
  .github/workflows/scion-gateway-ci.yml
  .github/workflows/scion_production.yml
  core/agent-forge/core/unified_pipeline.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

fix: Add security performance optimizations and comprehensive testing
  bash.exe.stackdump
  scripts/validate_secret_sanitization.py
  tests/test_security_performance_optimization.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

test: verify gate defaults
  .github/workflows/gate-integration-tests.yml
  .github/workflows/scion_production.yml
  tests/workflow_test/test_gate_missing_outputs.py
Due: none

feat: optimize secret validation and workflow
  .github/workflows/scion_production.yml
  scripts/validate_secret_sanitization.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

feat: refine placeholder detection
  scripts/validate_no_placeholders.sh
  tests/test_validate_no_placeholders.py
Due: none

Sanitize demo passwords and update secrets baseline
  .secrets.baseline
  core/decentralized_architecture/unified_digital_twin_system.py
  infrastructure/shared/security/demo_rbac_integration.py
  infrastructure/shared/tools/security/test_security_standalone.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Refine placeholders and improve metrics
  apps/web/package-lock.json
  apps/web/package.json
  core/agents/distributed/meta_agent_sharding_coordinator.py
  core/agents/social_agent.py
  examples/distributed/meta_agent_sharding_coordinator_demo.py
  infrastructure/performance/optimization/database_optimizer.py
  scripts/validate_no_placeholders.sh
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

chore: remove pycache artifacts
  benchmarks/agent_forge/benchmark_unified_compression.py
  config/linting/security_linting_manager.py
  config/linting/unified_linting_manager.py
  core/agent_forge/benchmarks/benchmark_unified_compression.py
  core/agent_forge/models/hrrm/reasoner/scratchpad.py
  core/agent_forge/models/hrrm/scripts/build_tokenizer.py
  core/agent_forge/phases/cognate_pretrain/real_pretraining_pipeline.py
  core/agent_forge/phases/evomerge.py
  core/agent_forge/phases/quietstar.py
  core/decentralized_architecture/unified_agent_forge_system.py
  core/decentralized_architecture/unified_dao_tokenomics_system.py
  core/decentralized_architecture/unified_digital_twin_system.py
  core/domain/security_constants.py
  core/rag/mcp_servers/hyperag/memory/hypergraph_kg.py
  examples/fog/sdk_usage_example.py
  examples/sdk_usage_example.py
  experiments/agents/agents/navigator/services/dtn_handler_service.py
  infrastructure/fog/tee/enclave_executor.py
  infrastructure/fog/testing/chaos_tester.py
  infrastructure/fog/vrf/vrf_discovery.py
  infrastructure/gateway/server.py
  infrastructure/p2p/tools/test_runner.py
  infrastructure/performance/optimization/database_optimizer.py
  infrastructure/shared/backup/constants.py
  infrastructure/shared/benchmarks/benchmark_unified_compression.py
  infrastructure/shared/security/constants.py
  infrastructure/twin/config/configuration_manager.py
  packages/p2p/core/nat_traversal.py
  pyproject.toml
  scripts/ci/security-integration-validator.py
  scripts/ci_pipeline_analyzer.py
  scripts/deployment_rollback_strategy.py
  scripts/production_linting_validator.py
  src/monitoring/platform_validator.py
  src/unified_rag/core/unified_rag_system.py
  tests/__pycache__/__init__.cpython-311.pyc
  tests/__pycache__/conftest.cpython-311-pytest-8.4.1.pyc
  tests/security/unit/test_federated_auth_system.py
  tests/test_connascence_refactoring.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

chore: resolve security annotation conflict
  core/decentralized_architecture/unified_digital_twin_system.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Consolidate RAG modules into unified implementation
  core/rag/cognitive_nexus.py
  core/rag/core/cognitive_nexus.py
  core/rag/graph/bayesian_trust_graph.py
  core/rag/memory/__init__.py
  core/rag/memory/hippo_index.py
  core/rag/retrieval/graph/__init__.py
  core/rag/retrieval/vector/__init__.py
  core/rag/unified_rag_system.py
  core/rag/vector/__init__.py
  core/rag/vector/contextual_vector_engine.py
  docs/unified_rag_module_structure.md
  src/unified_rag/cognitive/cognitive_nexus.py
  src/unified_rag/graph/bayesian_knowledge_graph.py
  src/unified_rag/memory/hippo_memory_system.py
  src/unified_rag/vector/dual_context_vector.py
  tests/production/knowledge/test_hyper_rag_integration.py
  tests/rag/test_consolidated_rag_integration.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Add RAG CLI tool for ingestion, querying, and gap detection
  scripts/rag_cli.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Add creative search context to rag CLI
  scripts/rag_cli.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

feat: add HippoCache retrieval caching
  src/unified_rag/core/unified_rag_system.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

docs: add creative search and gap detection guide
  docs/README.md
  docs/rag/creative_search_and_gap_detection.md
  docs/unified_rag_module_structure.md
Due: none

chore: revert pyc artifacts
  src/unified_rag/__init__.py
  src/unified_rag/core/unified_rag_system.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

docs: add hippo cache guide
  docs/README.md
  docs/rag/hippo_cache.md
  docs/unified_rag_module_structure.md
Due: none

fix: correct detect-secrets line continuations
  .github/workflows/scion_production.yml
Due: none

Increase detect-secrets scan timeout
  .github/workflows/scion_production.yml
  scripts/security/adjust_workflow_timeouts.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Exclude large generated directories from secret scan
  .secrets.baseline
Due: none

chore: update secret detection timeout message
  .github/workflows/scion_production.yml
Due: none

Update detect-secrets version and baseline
  .secrets.baseline
  config/constraints.txt
Due: none

Temporarily disable unstable Rust tests
  integrations/bounties/betanet/Cargo.toml
  integrations/bounties/betanet/crates/agent-fabric/Cargo.toml
  integrations/bounties/betanet/crates/betanet-dtn/src/test_plaintext_guard.rs
  integrations/bounties/betanet/crates/betanet-htx/Cargo.toml
  integrations/bounties/betanet/crates/betanet-linter/Cargo.toml
  integrations/bounties/betanet/crates/federated/Cargo.toml
  integrations/bounties/betanet/crates/federated/src/fedavg_secureagg.rs
  integrations/bounties/betanet/crates/federated/src/lib.rs
  integrations/bounties/betanet/crates/federated/src/orchestrator.rs
  integrations/bounties/betanet/crates/twin-vault/Cargo.toml
Due: none

feat: expose internal Cogment states in HF wrapper
  core/agent_forge/integration/cogment/hf_export.py
  tests/cogment/test_hf_wrapper_outputs.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Add fingerprint calibration logic and test
  infrastructure/shared/tools/betanet/calibrate_fingerprint.rs
  tests/test_calibrate_fingerprint_rs.py
Due: none

feat: enhance cross-node optimizer
  infrastructure/distributed_inference/core/cross_node_optimizer.py
  tests/distributed_inference/test_cross_node_optimizer.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

Add tests for edge integrations
  infrastructure/edge/__init__.py
  tests/edge/test_edge_integrations.py
Due: god-object-check, connascence-check, architectural-fitness

test: verify dashboard reports p2p metrics
  infrastructure/optimization/dashboard_integration.py
  tests/unit/dashboard/test_p2p_metrics.py
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

fix: refine placeholder validation and remove placeholder text
  apps/web/components/wallet/CreditEarningTips.tsx
  apps/web/components/wallet/WalletChart.tsx
  config/cogment/config_validation.py
  config/compression.yaml
  config/enhanced-eslint-config.js
  scripts/validate_no_placeholders.sh
  ui/web/src/components/wallet/CreditEarningTips.tsx
  ui/web/src/components/wallet/WalletChart.tsx
Due: god-object-check, magic-literal-check, connascence-check, architectural-fitness

chore: encode placeholder patterns
  ci_validation_simulation.sh
Due: none

chore: remove NOTE placeholder pattern
  scripts/validate_placeholders.sh
Due: none

feat: compute KPI scores from runtime data
  integrations/clients/rust/betanet/betanet-client/src/metrics/kpi_metrics.rs
Due: none

Add configurable metrics and real endpoint for Betanet v2 tests
  integrations/clients/rust/betanet/betanet-client/src/integration/betanet_v2_integration.rs
Due: none

Implement key rotation and connection timing
  integrations/clients/rust/betanet/betanet-client/src/transport/chrome_fingerprint.rs
  integrations/clients/rust/betanet/betanet-client/src/transport/noise_tunnel.rs
Due: none

test: add log streaming integration tests
  integrations/clients/fog-sdk/python/fog_client_original.py
  tests/fog/test_job_log_streaming.py
Due: connascence-check, architectural-fitness

feat: add mls group support with persistence
  integrations/bounties/betanet/crates/agent-fabric/Cargo.toml
  integrations/bounties/betanet/crates/agent-fabric/src/groups.rs
  integrations/bounties/betanet/crates/agent-fabric/src/lib.rs
  integrations/bounties/betanet/crates/agent-fabric/tests/integration_tests.rs
  integrations/clients/rust/agent-fabric/Cargo.toml
  integrations/clients/rust/agent-fabric/src/groups.rs
  integrations/clients/rust/agent-fabric/src/lib.rs
  integrations/clients/rust/agent-fabric/tests/integration_tests.rs
Due: none
