Repository DNYoussef/AIVillage: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest-check, automation-style-guide, no-misleading-stubs, documentation-accuracy

Path conditions:
  pytest-check: any of: ^(tests/|agent_forge/).*\.py$
  automation-style-guide: any of: ^scripts/.*\.py$
  no-misleading-stubs: any of: \.py$
  documentation-accuracy: any of: \.(md|rst)$

feat: Complete comprehensive test infrastructure transformation
  .github/workflows/test-suite.yml
  requirements-test.txt
  scripts/fix_test_infrastructure.py
  scripts/monitor_performance.py
  scripts/resolve_test_dependencies.py
  tests/compression/test_compression_comprehensive.py
  tests/conftest.py
  tests/evolution/test_evolution_comprehensive.py
Due: pytest-check, automation-style-guide, no-misleading-stubs

fix: Complete codebase cleanup and linting standardization
  .cleanup_backups/test_dashboard.py
  .coveragerc
  SPRINT2_COMPLETION_REPORT.md
  agent_forge/adas/adas.py
  agent_forge/adas/adas_secure.py
  communications/__init__.py
  communications/protocol.py
  communications/queue.py
  communications/test_credits_standalone.py
  deprecated/docs_archive/ARCHIVE_INDEX.md
  github_issues.json
  implementation_status.json
  pytest.ini
  scripts/migrate_to_qdrant.py
  scripts/run_corrected_evolution.py
  scripts/test_workflows.py
  stub_audit_report.md
  test_dashboard_results.json
  tests/compression/test_pytest_seedlm.py
  tests/compression/test_seedlm_fast.py
  tests/conftest_fixtures.py
  tests/core/test_integration.py
  tests/fixtures/service_fixtures.py
  tests/root_cleanup/test_dashboard.py
  tests/test_adas_technique.py
  tests/test_adas_technique_secure.py
  tests/test_clean_architecture.py
  tests/test_compression_only.py
  tests/test_confidence_module.py
  tests/test_king_agent.py
  tests/test_pipeline_simple.py
  tests/test_service_error_handling.py
  tests/test_stage1_minimal.py
  tests/test_unified_base_agent.py
Due: pytest-check, automation-style-guide, no-misleading-stubs, documentation-accuracy

fix: Apply final linting fixes from automated cleanup
  .cleanup_backups/test_dashboard.py
  communications/__init__.py
  scripts/test_workflows.py
  tests/compression/test_pytest_seedlm.py
  tests/compression/test_seedlm_fast.py
  tests/core/test_integration.py
  tests/root_cleanup/test_dashboard.py
  tests/test_compression_only.py
  tests/test_unified_base_agent.py
Due: pytest-check, automation-style-guide, no-misleading-stubs

docs: Add comprehensive style guide and cleanup plan
  CLEANUP_PLAN.md
  STYLE_GUIDE.md
  implementation_status.json
Due: documentation-accuracy

fix: Add missing __init__.py for compression module
  agent_forge/compression/__init__.py
Due: pytest-check, no-misleading-stubs

docs: Add comprehensive cleanup report
  CLEANUP_REPORT.md
Due: documentation-accuracy

fix: Add project installation to test workflow
  .github/workflows/test-suite.yml
Due: none

fix: Fix requirements.txt syntax and add test suite summary
  .coverage
  TEST_SUITE_SUMMARY.md
  agent_forge/requirements.txt
  coverage.xml
  implementation_status.json
  test_dashboard_results.json
  test_performance_summary.json
Due: documentation-accuracy

docs: Add JavaScript/TypeScript cleanup status and pnpm workspace config
  JS_TS_CLEANUP_STATUS.md
  aivillage-monorepo/pnpm-workspace.yaml
Due: documentation-accuracy

fix: Apply pre-commit hook fixes
  .test_repair_backup/github_issues.json
  .test_repair_backup/implementation_status.json
  ATLANTIS_DEVELOPMENT_READY.md
  CLEANUP_REPORT.md
  TEST_INFRASTRUCTURE_REMEDIATION_REPORT.md
  agent_forge/compression/__init__.py
  github_issues.json
  implementation_status.json
  run_all_tests.sh
  run_core_tests.sh
  scripts/run_corrected_evolution.py
  stub_audit_report.md
Due: pytest-check, automation-style-guide, no-misleading-stubs, documentation-accuracy

docs: Add final cleanup summary
  FINAL_CLEANUP_SUMMARY.md
Due: documentation-accuracy

feat: Add Sprint 3 completion report and agent forge production system
  FINAL_CLEANUP_SUMMARY.md
  JS_TS_CLEANUP_STATUS.md
  SPRINT3_COMPLETION_REPORT.md
  aivillage-monorepo/pnpm-workspace.yaml
  github_issues.json
  implementation_status.json
  mobile_benchmark_report.md
  mobile_benchmark_results.json
  production/agent_forge/agent_factory.py
  production/agent_forge/deployment_manifest.json
  production/agent_forge/templates/auditor_template.json
  production/agent_forge/templates/curator_template.json
  production/agent_forge/templates/ensemble_template.json
  production/agent_forge/templates/gardener_template.json
  production/agent_forge/templates/king_template.json
  production/agent_forge/templates/legal_template.json
  production/agent_forge/templates/magi_template.json
  production/agent_forge/templates/maker_template.json
  production/agent_forge/templates/master_config.json
  production/agent_forge/templates/medic_template.json
  production/agent_forge/templates/navigator_template.json
  production/agent_forge/templates/oracle_template.json
  production/agent_forge/templates/polyglot_template.json
  production/agent_forge/templates/sage_template.json
  production/agent_forge/templates/shaman_template.json
  production/agent_forge/templates/strategist_template.json
  production/agent_forge/templates/sustainer_template.json
  production/agent_forge/templates/sword_shield_template.json
  production/agent_forge/templates/tutor_template.json
  scripts/agent_kpi_system.py
  scripts/create_agent_templates.py
  scripts/enhance_compression_mobile.py
  scripts/mobile_device_simulator.py
  scripts/real_world_compression_tests.py
  scripts/refactor_agent_forge.py
  stub_audit_report.md
Due: automation-style-guide, no-misleading-stubs, documentation-accuracy

feat: Add Sprint 4 distributed infrastructure implementations
  SPRINT4_COMPLETION_REPORT.md
  pytest.ini
  scripts/create_integration_tests.py
  scripts/create_mobile_sdk.py
  scripts/implement_federated_learning.py
  scripts/implement_mesh_protocol.py
  tests/benchmarks/__init__.py
  tests/integration/__init__.py
  tests/integration/test_distributed_infrastructure.py
  tests/unit/fl/__init__.py
  tests/unit/mesh/__init__.py
Due: pytest-check, automation-style-guide, no-misleading-stubs, documentation-accuracy

fix: Add remaining Sprint 4 files and address linting issues
  aivillage-android-sdk/README.md
  aivillage-android-sdk/app/build.gradle
  aivillage-android-sdk/app/src/main/java/ai/atlantis/aivillage/AIVillageSDK.kt
  aivillage-android-sdk/app/src/main/java/ai/atlantis/aivillage/agents/AgentManager.kt
  aivillage-android-sdk/app/src/main/java/ai/atlantis/aivillage/core/Configuration.kt
  aivillage-android-sdk/app/src/main/java/ai/atlantis/aivillage/fl/FederatedLearningClient.kt
  aivillage-android-sdk/app/src/main/java/ai/atlantis/aivillage/mesh/MeshNetwork.kt
  aivillage-android-sdk/app/src/main/java/ai/atlantis/aivillage/sample/SampleActivity.kt
  aivillage-android-sdk/build.gradle
  scripts/create_integration_tests.py
  scripts/implement_federated_learning.py
  scripts/implement_mesh_protocol.py
Due: automation-style-guide, no-misleading-stubs, documentation-accuracy

fix: Sprint 4 code quality improvements - reduced linting errors from 855+ to 50
  implementation_status.json
  scripts/create_integration_tests.py
  scripts/implement_federated_learning.py
  scripts/implement_mesh_protocol.py
Due: automation-style-guide, no-misleading-stubs

fix: Sprint-4 FL handshake + Evolution import (#428)
  agent_forge/__init__.py
  scripts/implement_federated_learning.py
  scripts/implement_mesh_protocol.py
  tests/integration/test_packet_loss_resilience.py
  tests/test_agent_forge_performance.py
  tests/test_corrected_evolution.py
  tests/unit/fl/test_fl_error_handling.py
Due: pytest-check, automation-style-guide, no-misleading-stubs

fix: Apply pre-commit hook formatting fixes to documentation files
  cleanup_documentation.py
  demonstrate_cleanup.py
  deprecated/old_reports/CODEBASE_TRANSFORMATION_SUMMARY_1.md
  deprecated/old_reports/CONFIGURATION_CONSOLIDATION_SUMMARY_1.md
  deprecated/old_reports/DEPENDENCY_CONSOLIDATION_SUMMARY_1.md
  deprecated/old_reports/DOCUMENTATION_CLEANUP_PLAN_1.md
  deprecated/old_reports/DOCUMENTATION_TRANSFORMATION_SUMMARY_1.md
  deprecated/old_reports/HONEST_STATUS_1.md
  deprecated/old_reports/RESTRUCTURE_PLAN_1.md
  deprecated/old_reports/archive_marker.txt
  deprecated/old_reports/memory_system_access_report_1.md
  deprecated/old_reports/security-audit_1.md
  docs/api/chat-gpt4-system-prompt_1.md
  docs/api/mobile-optimizer_1.md
  docs/architecture/agent-evolution-optimizer_1.md
  docs/architecture/atlantis-vision-tracker_1.md
  docs/architecture/code-quality_1.md
  docs/architecture/documentation-sync_1.md
  docs/architecture/experimental-validator_1.md
  docs/architecture/federated-learning-coordinator_1.md
  docs/architecture/model_card_template_1.md
  docs/components/mesh-network-engineer_1.md
  docs/components/test-coverage_1.md
  docs/development/integration-testing_1.md
  docs/guides/Privacy_1.md
  docs/guides/blockchain-architect_1.md
  docs/guides/dependency-manager_1.md
  docs/guides/deployment-automation_1.md
  docs/reference/performance-monitor_1.md
  execute_cleanup.py
Due: no-misleading-stubs, documentation-accuracy

feat: Fix MCP server errors and add production-ready infrastructure
  SPRINT_1-5_FINAL_ASSESSMENT.md
  agent_ecosystem_analysis.md
  mcp_config.json
  requirements-production.txt
  scripts/final_benchmark_report.py
  scripts/focused_production_benchmark.py
  scripts/production_benchmark_suite.py
  src/production/agent_forge/evolution/__init__.py
  src/production/agent_forge/evolution/kpi_evolution_engine.py
  src/production/communications/__init__.py
  src/production/communications/p2p/__init__.py
  src/production/communications/p2p/device_mesh.py
  src/production/communications/p2p/p2p_node.py
  src/production/communications/p2p/tensor_streaming.py
  src/production/communications/p2p_protocol.py
  src/production/monitoring/mobile/__init__.py
  src/production/monitoring/mobile/device_profiler.py
  src/production/monitoring/mobile/mobile_metrics.py
  src/production/monitoring/mobile/resource_allocator.py
  tests/communications/test_p2p.py
Due: pytest-check, automation-style-guide, no-misleading-stubs, documentation-accuracy

docs: add honest status summary
  .gitignore
  docs/HONEST_STATUS.md
Due: documentation-accuracy

docs: update test file count
  README.md
Due: documentation-accuracy

docs: update Python version to 3.10
  CONSOLIDATED_REQUIREMENTS.md
  README.md
  docs/architecture/CONTRIBUTING_NEW_1.md
  scripts/run_agent_forge.py
  scripts/validate_dependencies.py
Due: automation-style-guide, no-misleading-stubs, documentation-accuracy

Fix doc links and add roadmap
  cleanup_documentation.py
  deprecated/old_reports/DOCUMENTATION_REMEDIATION_PLAN_1.md
  deprecated/old_reports/DOCUMENTATION_TRANSFORMATION_SUMMARY_1.md
  deprecated/old_reports/ROOT_CLEANUP_SUMMARY_1.md
  docs/README.md
  docs/architecture/DEPRECATED_DOCS_README_1.md
  docs/architecture/compression_1.md
  docs/reference/TODO_1.md
  docs/reference/roadmap.md
  scripts/archive/align_documentation.py
  tools/scripts/demonstrate_cleanup.py
Due: automation-style-guide, no-misleading-stubs, documentation-accuracy

fix: ensure newline at EOF for docs
  CONSOLIDATED_REQUIREMENTS.md
  README.md
  SPRINT_1-5_FINAL_ASSESSMENT.md
  SPRINT_PLANS_CONSOLIDATED.md
  STYLE_GUIDE.md
  agent_ecosystem_analysis.md
  deprecated/old_reports/REORGANIZATION_REPORT_1.md
  deprecated/old_reports/memory_optimization_report_1.md
  docs/REMEDIATION_LOG.md
  docs/deployment/PRODUCTION_GUIDE.md
  docs/hidden_gems.md
  docs/monitoring/SPRINT6_DASHBOARD_GUIDE.md
Due: documentation-accuracy

Update feature matrix references
  cleanup_documentation.py
  deprecated/old_reports/DOCUMENTATION_REMEDIATION_PLAN_1.md
  deprecated/old_reports/DOCUMENTATION_TRANSFORMATION_SUMMARY_1.md
  docs/README.md
  docs/architecture/DEPRECATED_DOCS_README_1.md
  docs/architecture/compression_1.md
  scripts/archive/align_documentation.py
  tools/scripts/demonstrate_cleanup.py
Due: automation-style-guide, no-misleading-stubs, documentation-accuracy

Secure tensor streaming and TLS support
  deploy/helm/aivillage/values-staging.yaml
  deploy/helm/aivillage/values.yaml
  deploy/k8s/secrets.yaml
  docs/deployment/PRODUCTION_GUIDE.md
  src/core/p2p/p2p_node.py
  src/core/p2p/peer_discovery.py
  src/infrastructure/p2p/tensor_streaming.py
  src/production/communications/p2p/tensor_streaming.py
  tests/production/test_evolution_system.py
  tests/production/test_tensor_streaming_safe.py
  tests/production/test_tls_setup.py
Due: pytest-check, no-misleading-stubs, documentation-accuracy

Add KPI-based evolution scheduler and integrate
  src/production/agent_forge/evolution/__init__.py
  src/production/agent_forge/evolution/dual_evolution_system.py
  src/production/agent_forge/evolution/evolution_scheduler.py
  tests/production/test_evolution_scheduler.py
Due: pytest-check, no-misleading-stubs

Add tensor streaming integration tests
  tests/production/test_tensor_streaming_integration.py
Due: pytest-check, no-misleading-stubs
